<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Google News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Bài viết mới nhất trên Google News</h1>
        <div class="row">
            {% for item in news_items %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text"><small class="text-muted">{{ item.pubDate }}</small></p>
{#                            <p>{{ item }}</p>#}
{#                            <a href="{{ url_for('analyze_article', title=item.title, link=item.link) }}" class="btn btn-primary">Phân tích bài viết</a>#}
                            <button class="btn btn-primary" onclick='analyzeArticle({{ item | tojson | safe }})'>Phân tích bài viết</button>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function analyzeArticle(item) {
            fetch('/analyze_article', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(item)
            })
            .then(response => response.json())
            .then(data => {
                // Chuyển hướng đến trang phân tích với dữ liệu nhận được
                window.location.href = '/analysis?title=' + encodeURIComponent(data.title) + '&link=' + encodeURIComponent(data.link) + '&prediction=' + encodeURIComponent(JSON.stringify(data.prediction));
            })
            .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>
