<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Google News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        /* Chỉnh sửa spinner loading */
        #loading-spinner {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 9999;  /* Đảm bảo spinner luôn ở trên cùng */
            display: none;  /* Ẩn spinner khi không sử dụng */
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Bài viết mới nhất trên Google News</h1>
        <div class="mb-4">
            <h2>Phân tích nội dung từ link</h2>
            <form id="url-form">
                <div class="form-group">
                    <label for="url">Nhập link trang web:</label>
                    <input type="text" class="form-control" id="url" placeholder="https://example.com" required>
                </div>
                <button type="submit" class="btn btn-primary" id="analyze-button" disabled>Phân tích</button>
            </form>
        </div>
        <div class="row">
            {% for item in news_items %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text"><small class="text-muted">{{ item.pubDate }}</small></p>
                            <button class="btn btn-primary analyze-article-button" onclick='analyzeArticle({{ item | tojson | safe }})'>Phân tích bài viết</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Spinner loading effect -->
        <div id="loading-spinner" >
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function showLoading() {
            document.getElementById('loading-spinner').style.display = 'flex';
        }

        function hideLoading() {
            document.getElementById('loading-spinner').style.display = 'none';
        }
        // Hàm kiểm tra URL hợp lệ
        function isValidURL(string) {
            var pattern = new RegExp('^(https?:\\/\\/)?'+ // giao thức
                '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // tên miền
                '((\\d{1,3}\\.){3}\\d{1,3}))'+ // hoặc địa chỉ IP (v4)
                '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // cổng và đường dẫn
                '(\\?[;&a-z\\d%_.~+=-]*)?'+ // chuỗi truy vấn
                '(\\#[-a-z\\d_]*)?$','i'); // bộ định vị đoạn
            return !!pattern.test(string);
        }

        const urlInput = document.getElementById('url');
        const analyzeButton = document.getElementById('analyze-button');

        // Lắng nghe sự kiện nhập liệu để kiểm tra URL
        urlInput.addEventListener('input', function() {
            if (isValidURL(urlInput.value)) {
                analyzeButton.disabled = false;
            } else {
                analyzeButton.disabled = true;
            }
        });

        // Xử lý sự kiện gửi biểu mẫu
        document.getElementById('url-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const url = urlInput.value;

            if (!isValidURL(url)) {
                alert('Vui lòng nhập một URL hợp lệ!');
                return;
            }

            showLoading();  // Hiển thị spinner loading

            fetch('/analyze_url', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ url: url })
            })
            .then(response => response.json())
            .then(data => {
                hideLoading();  // Ẩn spinner loading
                window.location.href = '/analysis?title=' + encodeURIComponent(data.title) + '&link=' + encodeURIComponent(data.link) + '&prediction=' + encodeURIComponent(JSON.stringify(data.prediction));
            })
            .catch(error => {
                hideLoading();  // Ẩn spinner loading nếu có lỗi
                console.error('Error:', error);
            });
        });

        function analyzeArticle(item) {
            showLoading(); // Hiển thị spinner loading
            fetch('/analyze_article', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(item)
            })
            .then(response => response.json())
            .then(data => {
                hideLoading();
                // Chuyển hướng đến trang phân tích với dữ liệu nhận được
                window.location.href = '/analysis?title=' + encodeURIComponent(data.title) + '&link=' + encodeURIComponent(data.link) + '&prediction=' + encodeURIComponent(JSON.stringify(data.prediction));
            })
            .catch(error => {
                    hideLoading();  // Ẩn spinner loading nếu có lỗi
                    console.error('Error:', error);
                });
        }

        // Xử lý khi nhấn nút "Phân tích bài viết"
        {#document.querySelectorAll('.analyze-article-button').forEach(button => {#}
        {#    button.addEventListener('click', function() {#}
        {#        showLoading();  // Hiển thị spinner loading#}
        {##}
        {#        const item = JSON.parse(this.getAttribute('data-item'));#}
        {##}
        {#        fetch('/analyze_article', {#}
        {#            method: 'POST',#}
        {#            headers: {#}
        {#                'Content-Type': 'application/json'#}
        {#            },#}
        {#            body: JSON.stringify(item)#}
        {#        })#}
        {#        .then(response => response.json())#}
        {#        .then(data => {#}
        {#            hideLoading();  // Ẩn spinner loading#}
        {#            window.location.href = '/analysis?title=' + encodeURIComponent(data.title) + '&link=' + encodeURIComponent(data.link) + '&prediction=' + encodeURIComponent(JSON.stringify(data.prediction));#}
        {#        })#}
        {#        .catch(error => {#}
        {#            hideLoading();  // Ẩn spinner loading nếu có lỗi#}
        {#            console.error('Error:', error);#}
        {#        });#}
        {#    });#}
        {#}#}
        {#);#}
    </script>

</body>
</html>
